<!-- @format -->

<!DOCTYPE html>
<%- include("./constant/header.ejs") -%>
<html lang="en">
  <body>
    <div class="error-container">
      <div class="error-contents">
        <img
          class="error-img"
          src="https://i.ibb.co/g7SsMwf/243512-P3-UB87-565-1.webp"
          alt="error"
        />
        <h1 class="err-h1">Room Not found</h1>
        <a href="/">Go back</a>
      </div>
    </div>
  </body>
</html>
