<!-- @format -->

<!DOCTYPE html>
<%- include("./constant/header.ejs") -%>
<html lang="en">
  <body>
    <div class="error-container">
      <div class="error-contents">
        <iframe
          src="https://giphy.com/embed/KGf5e2rjEQhQi7DrtE"
          width="200"
          height="200"
          frameBorder="0"
          class="giphy-embed error-img"
          allowFullScreen
        ></iframe>

        <% if(typeof room !== "undefined"){%>
        <h1 class="err-h1">Room <%=room%> Not found</h1>
        <span class="err-span">Or user might have deleted the room</span>
        <%}else{%>
        <h1 class="err-h1">404 Not Found</h1>
        <%}%>
        <a class="err-a" href="/?room=public&user=<%=user%>">Go back</a>
      </div>
    </div>
  </body>
</html>
