<!-- @format -->

<!DOCTYPE html>
<%- include("./constant/header.ejs") -%>
<html lang="en">
  <body>
    <div class="error-container">
      <div class="error-contents">
        <img
          class="error-img"
          src="https://i.ibb.co/C8CMzTQ/232.webp"
          alt="error"
        />
        <% if(typeof room !== "undefined"){%>
        <h1 class="err-h1">Room <%=room%> Not found</h1>
        <%}%>
        <a class="err-a" href="/?room=public&user=<%=user%>">Go back</a>
      </div>
    </div>
  </body>
</html>
