/** @format */

.profile-container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
}
.toasts,
.transform-toast {
  position: fixed;
  top: 1rem;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  min-width: 12rem;
  background-color: rebeccapurple;
  border-radius: 5px;
  padding: 0.5rem 0.6rem;
  color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: none;
  p {
    margin: 0.1rem 0;
    letter-spacing: 0.6px;
  }
}
.transform-toast {
  transition: all 0.5s ease-out;
  top: -3rem;
}
.profile-contents {
  padding: 2% 5% 5%;
  .profile-ptag {
    text-align: right;
    color: rgb(110, 41, 179);
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.8rem;
    cursor: pointer;
    &:hover {
      color: rgb(223, 223, 223);
    }
  }
}

.profile-img-header {
  width: 100%;
  height: 15rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.8;
  }
}
.profile-body-container {
  margin: 2rem 0 3%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .profile-body-contents {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 1rem;
    .profile-span {
      font-size: 0.9rem;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: rgb(170, 170, 170);
      }
    }
  }
  .upload-cancel {
    color: red;
    visibility: hidden;
    padding: 0.2rem;
    cursor: pointer;
    &:hover {
      color: rgb(163, 163, 163);
    }
  }
}
.profile-body-img {
  margin-top: 1rem;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 10px 20px rgba(161, 78, 243, 0.438));
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profile-body-text {
  margin: 1.5rem 0;
  p {
    font-size: 0.95rem;
    margin: 0.5rem 0;
    color: rgb(194, 194, 194);
  }
}
.profile-upload-form {
  width: 100%;

  margin: 3% 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 0;
  height: 0;
  visibility: hidden;
  transform: translateX(-100%);
}
.profile-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    margin: 1.8rem 0 0.5rem;
    color: rgb(181, 107, 255);
  }
  .label-profileimg {
    width: 95%;
    display: flex;
    justify-content: space-between;
    span {
      color: red;
      visibility: hidden;
      padding: 0.2rem;
      font-size: 0.85rem;
      cursor: pointer;
      &:hover {
        color: rgb(163, 163, 163);
      }
    }
  }
  .profile-uploaded-img {
    margin-top: 0.8rem;
    width: 170px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-img-edit-icon {
      cursor: pointer;
      color: rgb(228, 228, 228);
      &:hover {
        color: rgb(164, 81, 247);
      }
    }
    img {
      border-radius: 50%;
      width: 110px;
      height: 100%;
      object-fit: cover;
    }
  }
  .profile-err {
    color: red;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    display: none;
  }
  input {
    width: 95%;
    border: 2px solid rgba(102, 51, 153, 0.5);
    outline: 0;
    background: transparent;
    color: white;
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    &::placeholder {
      color: white;
    }
    &:active {
      border: 2px solid rgb(102, 51, 153);
    }
    &:focus {
      border: 2px solid rgb(102, 51, 153);
    }
  }
  button {
    margin: 2.5rem 0 2rem;
    width: 8rem;

    padding: 0.4rem;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid rgb(125, 54, 196);
    cursor: pointer;
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: "Poppins", sans-serif;
    &:hover {
      background: transparent;
    }
    &:active {
      transform: scale(0.8);
    }
  }
}
.profile-rooms-container {
  width: 100%;
  height: 100%;
  h1 {
    margin-top: 0.5rem;
  }
  .profile-rooms {
    margin: 1.5rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem 3rem;
  }
  .profile-rooms-box {
    width: 18rem;
    height: 2rem;
    padding: 0.3rem 1rem;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(102, 51, 153, 0.226);
    box-shadow: 0px 10px 20px rgba(102, 51, 153, 0.205);
    &:hover {
      box-shadow: 0px 10px 20px rgba(102, 51, 153, 0.425);
      border: 3px solid rebeccapurple;
    }
    .profileroom-span {
      width: 70%;

      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgba(255, 255, 255, 0.849);
      span {
        font-size: 0.7rem;
        color: rgba(206, 206, 206, 0.747);
      }
    }

    .room-delete {
      color: rgb(230, 21, 21);
      font-size: 0.8rem;
      padding: 0.2rem;
      cursor: pointer;
      font-weight: 200;
      letter-spacing: 0.8px;
      &:hover {
        color: rgba(202, 202, 202, 0.87);
      }
    }
  }
}
.profile-norooms {
  display: flex;
  align-items: center;
}
@media screen and(max-width:720px) {
  .toasts,
  .transform-toast {
    width: 80%;
    p {
      margin: 0.1rem 0;
      font-size: 0.92rem;
    }
  }
  .profile-img-header {
    width: 100%;
    height: 12rem;
  }
  .profile-body-img {
    width: 70px;
    height: 70px;
  }
  .profile-body-container {
    margin: 2rem 0;
  }
  .profile-contents {
    padding-top: 3%;
    .profile-ptag {
      margin-top: 0.9rem;
      font-size: 1rem;
    }
  }
  .profile-form {
    label {
      font-size: 0.9rem;
    }
    .profile-uploaded-img {
      width: 120px;
      height: 80px;

      img {
        border-radius: 50%;
        width: 80px;
        height: 100%;
        object-fit: cover;
      }
    }
    button {
      margin: 3.1rem 0 2rem;
      width: 7rem;
      padding: 0.3rem;
    }
  }
  .profile-rooms-container {
    margin-top: 1.5rem;
    h1 {
      font-size: 1.8rem;
    }
    .profile-rooms {
      margin-top: 2rem;
      gap: 1.5rem 3rem;
      .profile-rooms-box {
        height: 2.1rem;
      }
    }
  }
}
