<!-- @format -->

<div class="auth-container">
  <div class="auth-contents">
    <div class="auth-box">
      <h2>Login first</h2>
      <div class="auth-items">
        <a href="/auth/user/google">
          <div class="google-icon-div">
            <i class="fab fa-google login-icon"></i>
          </div>
        </a>
        <a href="/auth/user/github">
          <div class="github-icon">
            <i class="fab fa-github login-icon"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
